* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: linear .3s;
}

.root{
    background-color: #1C1C1C;
}
.logoMobile{
    display: none;
}

.navegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 5rem;
    align-items: center;
    background-color: black;

    & .logo{
        cursor: pointer;
        & img{
            height: 50px;
            width: 150px;
        }
    }
}

.active{
    color: #c01717 !important; 
    font-weight: 600;
}

.Botones-Navegacion {
    display: flex;
    gap: 2rem;

    & button {
        cursor: pointer;
        background: none;
        border: none;
        padding: .5rem 1rem;
        border-radius: 10px;
        color: white;
        font-size: 17px;
        transition: ease-in-out .2s;
    }

    & button:active {
        transform: scale(1.4);
    }
}

.card {
    color: white;
    background-color: black;
    position: relative;
    border-radius: 10px;
    width: 310px;

    & .imagen {
        position: relative;

        & img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 350px;
            width: 100%;
            display: block;
        }

        &::before {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
    }
}

.deporte {
    position: absolute;
    z-index: 2;
    color: white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.favorite {
    position: absolute;
    z-index: 2;
    left: 85%;
    top: 2%;

    & button {
        cursor: pointer;
        padding: 0;
        background: none;
        border: none;
        outline: none;
        transition: ease-in-out .09s;

        &:active {
            transform: scale(1.4);
        }

        & .fa-solid {
            color: white;
            font-size: 25px;
        }

        & .like {
            color: #FFAA1D;
        }
    }
}

.Contenedor-Cards1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.information {
    padding: 1.5rem;
    text-align: justify;
}

.nombre-numero {
    display: flex;
    justify-content: space-between;

    & p {
        color: red;
        font-weight: 700;
    }
}

.description {
    margin-top: 1rem;
    height: 200px;
}

.Tituloseccion {
    text-align: center;
    margin: 2rem;
    color: #c01717;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.cardsports {
    max-width: 400px;
    width: 400px;
    height: 100%;
    word-wrap: break-word;

    & .imagen {
        &::before {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.categoria {
    font-size: 14px;
}

.categoria span {
    color: #c01717;
}

.boton {
    text-align: center;
    margin-bottom: 4rem;
    transition: ease-in-out .4s;

    & a {
        color: white;
        background-color: #c01717;
        text-decoration: none;
        padding: 1rem 2rem;
        border-radius: 10px;
    }

    &:hover {
        transform: scale(1.03);
    }

    & .performer {
        font-weight: 600;
        text-decoration: underline;
    }

}

.descriptionsports p {
    margin-top: 1rem;
    height: 140px;
    overflow-y: auto;
}

.title-and-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.titulo {
    margin: 2rem 0;
    text-align: center;
    color: white;
}

select{
    background-color: #c01717;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    padding: .5rem .9rem;
}

option {
    text-align: center;
    background-color: white;
    color: #c01717;
}

.footer-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
    color: white;
    background-color: black;
    padding: 2rem;
    gap: 2rem;
}
.hr-horizontal-line-fotter{
    display: none
}

.informacion {
    display: flex;
    margin-top: 1rem;
    gap: 2rem;

    & h1 {
        color: #c01717;
    }

    & p {
        text-align: justify;
    }

    & .aviso {
        margin-top: 1rem;
        color: #c01717;
    }
}

.vertical-line {
    width: 1px;
    height: 200px;
    background-color: red;
}

.autores {

    /* text-align: center; */
    & h1 {
        color: #c01717;
    }
}

.listaautores {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.red {
    display: flex;
    gap: 1rem;
}

.redes {
    margin-left: 1rem;

    & a {
        text-decoration: none;
    }
}

.icono {
    color: white;
    font-size: 20px;
    background-color: #c01717;
    padding: 7px;
    margin-top: 5px;
    width: 45px;
    text-align: center;
    border-radius: 10px;
}

.usuario {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.contenedor-todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.formulario h3 {
    color: red;
    text-align: center;
}

.formulario {
    background: white;
    padding: 2rem;
    border-radius: 10px;
}

form{
    color: #1C1C1C;
    width: 100%;
    flex-direction: row;
    font-weight: 600;
}
.error{
    color: #c01717;
}

.divform {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 1rem;
}

.sport-cat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: nowrap;
}

input[type="text"] {
    border-radius: 10px;
    padding: .5rem;
    border: 2px solid #b4b4b4;
    text-indent: 10px;
    margin-top: .5rem;
}

.Select-Form {
    margin-top: .5rem;
    padding: .25rem;
    border: 2px solid #b4b4b4;
    background-color: white;
    color: black;
    text-indent: 10px;
}

.option-Form {
    text-align: left;
    background-color: white;
    color: #1C1C1C !important;
}

textarea {
    resize: none;
    padding: 1rem;
    border: 2px solid #b4b4b4;
    border-radius: 10px;
    margin-top: .5rem;
}

.botonadd {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.addsport {
    border: none;
    background-color: #c01717;
    color: white;
    padding: 1rem 6rem;
    border-radius: 10px;
    transition: ease-in-out .2s;

    &:hover {
        transform: scale(1.05);
    }
}

.card-preview {
    margin: 0 auto;
    word-wrap: break-word;

    & h1 {
        color: white;
        margin-bottom: 1rem;
    }
}

.cardsportsadd {
    width: 400px;
    height: 75%;

    & .imagenadd {
        & img {
            width: 100%;
        }
    }
}

.informationadd {
    padding: 1.5rem;
    text-align: justify;
    font-size: 12px;
}

.descriptioncardadd {
    margin-top: 1rem;
}

.botoncardadd {
    font-size: 12px;
    text-align: center;
    margin-bottom: 2rem;
    transition: ease-in-out .4s;

    & a {
        color: white;
        background-color: #c01717;
        text-decoration: none;
        padding: .5rem 1rem;
        border-radius: 10px;
    }

    &:hover {
        transform: scale(1.03);
    }

    & .performer {
        font-weight: 600;
        text-decoration: underline;
    }
}
.Likeordark{
    background:none;
    color: white;
    border: none;
    position: absolute;
    top: 44px;
    left: 235px;
    cursor: pointer;
    margin-left: 1rem;
    transition: transform 0.3s ease;
    & i{
        font-size: 25px;
    }
}

.Likeordark:active{
    animation: bounce .5s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(40);
    }
    40% {
      transform: translateY(10px); /* Controla la altura del rebote */
    }
    60% {
      transform: translateY(-10px); /* Controla la altura del rebote */
    }
  }

.modoclaro{
    color: rgb(255, 170, 29);
    text-shadow: rgba(255, 170, 29, 1) 0px 2px 15px;
}

img[alt]::after {
    content: "Agregue una imagen";
    color: #c01717;
    padding: 1rem;
    line-height: 150px;

}

/* ! TEMAS */

.root-active{
    background-color: #fafafa;
}
.activenav {
    background-color: white;
    & .Botones-Navegacion{
        & button{
            color: black;
        }
    }
}

.activefooter{
    color: black;
    background-color: white;
    & .usuario{
        color: black;
    }
}
.activecard{
    color: black;   
    background-color: white
}
.activetitulo{
    color: black;
}
.card-previewact h1{
    color: black;
}



/* ResponsiveForce */
@media screen and (max-width: 1024px) {
    .autores p {
        /* border: 1px solid red; */
        font-size: 16px;
    }
    
    .icono {
        font-size: 16px;
        padding: 5px;
        width: 40px;
    }
    .divform{
        width: 300px;
    }
}

@media screen and (max-width: 948px) {
    .contenedor-todo{
        gap: 2rem;
    }
    .sport-cat{
        flex-direction: column ;
    }
    .cardsportsadd{
        width: 300px;
    }
}

@media screen and (max-width: 742px) {
    .contenedor-todo{
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }

    .divform{
        width: initial;
    }
    .card-preview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}
@media screen and (max-width: 660px) {
    .card {
        width: 80%;

        & .imagen {
            & img {
                background-size: cover;
                height: auto;
                width: 100%;
            }

        }
    }
    .description{
        height: initial;
    }
}
@media screen and (max-width: 496px) {
    .autores{
        text-align: center;
        font-size: 14px;
        & .redes{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-left: 0;
            & .usuario{
                display: none;
            }
        }
        & .listaautores{
            flex-direction: column;
            gap: 2rem;
        }
    }
    .informacion{
        font-size: 14px;
        flex-direction: column;
        & .vertical-line{
            display: none;
        }
    }
    .hr-horizontal-line-fotter{
        display: block;
        background-color: #c01717;
        border: none;
        height: .1rem;
        margin-bottom: .6rem;
    }
    .footer-container{
        display: block;
    }
    .icono {
        font-size: 20px;
        padding: 10px;
        width: 55px;
    }
    
    .navegacion {
        justify-content: center;
        & .logo {
            margin-bottom: 2rem;
        }
    }

    .title-and-filter{
        flex-direction: column;
        gap: initial;
        margin-bottom: 2rem;
    }
    .descriptionsports p{
        height: initial;
        margin-bottom: 1rem;
    }

    .logo{
        & .logoweb{
            display: none;
        }
        & .logoMobile{
            display: initial;
        }
        & img{
            width: 90px !important;
            height: 70px !important;
        }
    }

    .Likeordark{
        position: inherit;
        /* border: 1px solid red; */
        display: flex;
        margin-bottom: 2rem;
    }
    
}

@media screen and (max-width: 375px) {
    *{
        font-size: 12px;
    }
    .card{
        height: auto;
    }
    
    .icono {
        font-size: 16px;
        padding: 5px;
        width: 30px;
    }
    .Botones-Navegacion > button{
        font-size: 12px;
    }
}