* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1C1C1C;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    align-items: center;
    background-color: black;

    & .logo {
        color: #c01717;
    }
}

.Botones-Navegacion {
    display: flex;
    gap: 2rem;

    & button {
        cursor: pointer;
        background-color: #c01717;
        border: none;
        padding: .5rem 1rem;
        border-radius: 10px;
        color: white;
        transition: ease-in-out .2s;
    }

    & button:active {
        transform: scale(1.4);
    }
}

.card {
    color: white;
    background-color: black;
    position: relative;
    border-radius: 10px;
    width: 310px;

    & .imagen {
        position: relative;

        & img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 350px;
            width: 100%;
            display: block;
        }

        &::before {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
    }
}

.deporte {
    position: absolute;
    z-index: 2;
    color: white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.favorite {
    position: absolute;
    z-index: 2;
    left: 85%;
    top: 2%;

    & button {
        cursor: pointer;
        padding: 0;
        background: none;
        border: none;
        outline: none;
        transition: ease-in-out .09s;

        &:active {
            transform: scale(1.4);
        }

        & .fa-solid {
            color: white;
            font-size: 25px;
        }

        & .like {
            color: #FFAA1D;
        }
    }
}

.Contenedor-Cards1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.information {
    padding: 1.5rem;
    text-align: justify;
}

.nombre-numero {
    display: flex;
    justify-content: space-between;

    & p {
        color: red;
        font-weight: 700;
    }
}

.description {
    margin-top: 1rem;
    height: 200px;
}

.Tituloseccion {
    text-align: center;
    margin: 2rem;
    color: #c01717;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.cardsports {
    max-width: 400px;
    width: 400px;
    height: 100%;

    & .imagen {
        &::before {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.categoria {
    font-size: 14px;
}

.categoria span {
    color: #c01717;
}

.boton {
    text-align: center;
    margin-bottom: 4rem;
    transition: ease-in-out .4s;

    & a {
        color: white;
        background-color: #c01717;
        text-decoration: none;
        padding: 1rem 2rem;
        border-radius: 10px;
    }

    &:hover {
        transform: scale(1.03);
    }

    & .performer {
        font-weight: 600;
        text-decoration: underline;
    }

}

.descriptionsports p {
    margin-top: 1rem;
    height: 200px;
    overflow-y: auto;
}

.title-and-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.titulo {
    margin: 2rem 0;
    text-align: center;
    color: white;
}

select {
    background-color: #c01717;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    padding: .1rem .5rem;
}

option {
    text-align: center;
    background-color: white;
    color: #c01717;
}

.footer-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    color: white;
    background-color: black;
    padding: 2rem;
    gap: 2rem;
}

.informacion {
    display: flex;
    margin-top: 1rem;
    gap: 2rem;

    & h1 {
        color: #c01717;
    }

    & p {
        text-align: justify;
    }

    & .aviso {
        margin-top: 1rem;
        color: #c01717;
    }
}

.vertical-line {
    width: 1px;
    height: 200px;
    background-color: red;
}

.autores {

    /* text-align: center; */
    & h1 {
        color: #c01717;
    }
}

.listaautores {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.red {
    display: flex;
    gap: 1rem;
}

.redes {
    margin-left: 1rem;

    & a {
        text-decoration: none;
    }
}

.icono {
    color: white;
    font-size: 20px;
    background-color: #c01717;
    padding: 7px;
    margin-top: 5px;
    width: 45px;
    text-align: center;
    border-radius: 10px;
}

.usuario {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.contenedor-todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.formulario h3 {
    color: red;
    text-align: center;
}

.formulario {
    background: white;
    padding: 2rem;
    border-radius: 10px;
}

form {
    color: #c01717;
    width: 100%;
    flex-direction: row;
    font-weight: 600;
}

.divform {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 1rem;
}

.sport-cat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: nowrap;
}

input[type="text"] {
    border-radius: 10px;
    padding: .5rem;
    border: 2px solid #b4b4b4;
    text-indent: 10px;
    margin-top: .5rem;
}

.Select-Form {
    margin-top: .5rem;
    padding: .25rem;
    border: 2px solid #b4b4b4;
    background-color: white;
    color: black;
    text-indent: 10px;
}

.option-Form {
    text-align: left;
    background-color: white;
    color: #1C1C1C !important;
}

textarea {
    resize: none;
    padding: 1rem;
    border: 2px solid #b4b4b4;
    border-radius: 10px;
    margin-top: .5rem;
}

.botonadd {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.addsport {
    border: none;
    background-color: #c01717;
    color: white;
    padding: 1rem 6rem;
    border-radius: 10px;
    transition: ease-in-out .2s;

    &:hover {
        transform: scale(1.05);
    }
}
.card-preview{
    margin: 0 auto;
    & h1{
        color: white;
        margin-bottom: 1rem;
    }
}

.cardsportsadd{
    width: 400px;
    height: 75%;
    & .imagenadd{
        width: fit-content;
        & img{
            width: 100%;
        }
    }   
}
.informationadd {
    padding: 1.5rem;
    text-align: justify;
    font-size: 12px;
}
.descriptioncardadd {
    margin-top: 1rem;
}
.botoncardadd{
    font-size: 12px;
    text-align: center;
    margin-bottom: 2rem;
    transition: ease-in-out .4s;

    & a {
        color: white;
        background-color: #c01717;
        text-decoration: none;
        padding: .5rem 1rem;
        border-radius: 10px;
    }

    &:hover {
        transform: scale(1.03);
    }

    & .performer {
        font-weight: 600;
        text-decoration: underline;
    }
}